body {
    font-family: Arial;
}

/* allineamento header */
header {
    text-align: left;
}
h1 {
    margin-bottom: 0px;
}

p {
    padding-top: 15px;
    padding-bottom: 15px;
}

.img-dim {
    background-image: url(../img/pattern.png);
    background-color: rgb(0, 162, 255);
}

.dimens-img {
    width: 300px;
    padding-top: 30px;
}
/* dimensione sottotesto intestazione */
#dimensione-sottotesto {
    font-size: 15px;
}

#dimensione-sottotesto2 {
    font-size: 10px;
    padding-bottom: 15px;
}

/* dimensionamento crediti */
.credit {
    font-size: 10px;
}

/* allineamento bullet point */
.ul-align {
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* testo evidenziato */
.testo-evidenziato {
    background-color: yellow;
}

#dim-tab {
    width: 100%;
    background-color: rgb(0, 221, 255);
    text-align: left;
}

/* allineamento tabella */

#riga1 {
    width: 25%;
}

#riga2 {
    width: 25%;
}

#riga3 {
    width: 50%;
}

/* colori righe tabelle */
.colore-righe-tabella {
    background-color: rgb(0, 242, 255);
}

#colore-riga-tabella-b {
    background-color: white;
}

.dimensione-immagine {
    width: 0px;
}